<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Knob_form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Knob_form.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary1Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary2Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Primary3Color" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TextShade" serializeAs="String">
                <value />
            </setting>
            <setting name="gradientStart" serializeAs="String">
                <value />
            </setting>
            <setting name="gradientEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="indicator" serializeAs="String">
                <value />
            </setting>
            <setting name="LastComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
        </Knob_form.Properties.Settings>
    </userSettings>
</configuration>